<head>
    <meta charset="UTF-8" />
    <!--<meta name="viewport" content="width=1200" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link
        rel="preload"
        href="/fonts/Director-Regular.woff2"
        as="font"
        type="font/woff2"
    />
    <link
        rel="preload"
        href="/fonts/Director-Bold.woff2"
        as="font"
        type="font/woff2"
    />
    <link
        rel="preload"
        href="/fonts/Director-Light.woff2"
        as="font"
        type="font/woff2"
    />
    <link
        rel="preload"
        href="/fonts/SM3신신명조.woff2"
        as="font"
        type="font/woff2"
    />
    {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
</head>
