<html lang="en">
    {{ partial "head.html" . }}

    <body>
        <div class="container {{ .Section }}">
            {{ partial "nav.html" . }}
            <main>
                <div class="left">
                    <p>{{ .Title }}</p>
                    <br />
                    {{ if and .Date (.Params.showDate | default true) }}
                    <p>{{ .Date.Format "2006" }}</p>
                    {{ end }} {{ if .Params.medium}}
                    <p>{{ .Params.medium }}</p>
                    {{ end }}{{ if or .Params.dimensions (gt (.Params.pages |
                    default 0) 0) }}
                    <p>
                        {{- if .Params.dimensions -}}
                        <span>{{ .Params.dimensions }}(mm)</span>
                        {{- end -}} {{- if and .Params.dimensions (gt
                        (.Params.pages | default 0) 0) -}}, {{ end -}} {{- if gt
                        (.Params.pages | default 0) 0 -}}
                        <span>{{ .Params.pages }} pages</span>
                        {{- end }}
                    </p>
                    {{ end }}<br />{{ if .Params.description_kr }}
                    <p>{{ .Params.description_kr }}</p>
                    {{ end }}{{ if .Params.etc_kr }}<br />
                    <p>{{ .Params.etc_kr }}</p>
                    <br />{{ end }} {{ if .Params.description_eng }}<br />
                    <p>{{ .Params.description_eng }}</p>
                    {{ end }} {{ if .Params.etc_eng }}<br />
                    <p>{{ .Params.etc_eng }}</p>
                    {{ end }} {{ .Content }}
                </div>
                <div class="right">
                    <div class="images">
                        {{ if .Params.images }} {{ range .Params.images }}
                        <img
                            src="{{ . }}"
                            alt="{{ path.BaseName . }}"
                            loading="lazy"
                            decoding="async"
                        />
                        {{ end }} {{ end }}
                    </div>
                </div>
            </main>
            <div class="big-image">
                <img />
            </div>
        </div>
    </body>
</html>

<script>
    const images = document.querySelectorAll("img");
    const bigAss = document.querySelector(".big-image");
    const bigAssImg = document.querySelector(".big-image img");

    for (let i = 0; i < images.length; i++) {
        const image = images[i];

        image.addEventListener("click", () => {
            bigAssImg.src = image.src;
            bigAss.style.display = "flex";
        });
    }

    bigAss.addEventListener("click", () => {
        bigAss.style.display = "none";
    });
</script>
